.icon-lve {
    display: none;
    position: absolute;
    text-align: center;
    z-index: 100;
    transition: transform .2s;
}

.icon-lve:hover {
    -ms-transform: scale(1.1);
    /* IE 9 */
    -webkit-transform: scale(1.1);
    /* Safari 3-8 */
    transform: scale(1.1);
}

.icon-translate {
    width: 22px;
}

.i-speaker {
    cursor: pointer;
    float: left;
}

.i-speaker:hover {
    -ms-transform: scale(1.1);
    /* IE 9 */
    -webkit-transform: scale(1.1);
    /* Safari 3-8 */
    transform: scale(1.1);
}

.icon-loading {
    width: 300px;
}

.parent-popup {
    display: none;
    position: absolute;
    z-index: 100;
    border-radius: 10px;
    border: 1px solid gray;
    box-shadow: 1px 1px 3px gray;
    z-index: 999;
}

.parent-loading-popup {
    display: none;
    position: absolute;
    z-index: 100;
    border-radius: 10px;
    border: 1px solid gray;
    box-shadow: 1px 1px 3px gray;
    z-index: 999;
}

.popup {
    width: 300px;
    height: auto;
    z-index: 999;
    line-height: 1.4;
}

.tpopup {
    padding: 5px 5px 8px 5px;
    text-align: center;
    font-size: 22px;
    background-color: #ffffff;
    color: white;
}

.t-dich {
    margin: 5px;
    color: #484848;
    font-weight: 500;
}

.body-popup {
    background-color: #CDFFBB;
    padding-bottom: 10px;
    padding-right: 6px;
    border: 0 0 0 1px solid gray;
}

.word {
    /* width: 155px; */
}

.o-word {
    text-transform: uppercase;
    padding: 7px 2px 2px 5px;
    font-size: 18px;
    font-weight: 500;
    color: #484848;
    float: left;
}

.phien-am {
    font-size: 17px;
    color: #707070;
    padding-left: 5px;
}

.clearfix {
    clear: both;
}

.add-word {}

#btn-add-word {
    margin: 5px 5px 2px 2px;
    background-color: #0083F6;
    color: white;
    border: 0px;
    padding: 4px 5px 7px 5px;
    float: right;
    border-radius: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13.6px;
    font-weight: bold;
}

#btn-add-word:hover {
    background-color: #006bc9;
    cursor: pointer;
}

.title-owb {
    padding: 5px 0px 2px 5px;
    font-size: 13.6px;
    color: #3d3d3d;
}

.option-word-book {
    margin: 5px 2px 2px 5px;
    font-size: 13.6px;
    background-color: white;
}

.footer-word {
    margin-left: 5px;
}

.title-t-word {
    font-size: 15px;
    font-weight: bold;
    color: #3636FF;
}

.t-word {
    color: #3636FF;
    border: 1px solid gray;
    box-shadow: 1px 1px 3px 0px #b4b4b4;
    background-color: white;
    padding: 5px 0px 5px 2px;
    border-radius: 5px;
}

.title-ex-setence {
    font-size: 15px;
    font-weight: bold;
    color: #3636FF;
    border: 1px gray;
}

.ex-setence {
    color: #3636FF;
    border: 1px solid gray;
    box-shadow: 1px 1px 3px 0px #b4b4b4;
    background-color: white;
    padding: 5px 0px 5px 2px;
    border-radius: 5px;
}


/* start background css */

body {
    margin: 0px;
}

.back-popup {
    width: 300px;
    background-color: #e6e6e6;
    padding-bottom: 15px;
}

.header {
    background-color: white;
}

.title {
    margin: auto;
    width: 65%;
    color: #1e4bff;
    font-size: large;
    font-weight: 700;
    padding: 5px;
}

.account-btn {
    width: 100%;
}

.btn-logout {
    background-color: #17c200;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    width: 65px;
    padding: 0px 7px 3px 7px;
    margin-top: 5px;
    font-weight: bold;
    float: right;
    text-align: center;
}

.btn-register {
    margin-right: 15px;
}

.btn-login {
    background-color: #005dc8;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    width: 65px;
    padding: 0px 7px 3px 7px;
    margin-top: 5px;
    margin-right: 15px;
    font-weight: bold;
    float: right;
    text-align: center;
}

.btn-login:hover {
    background-color: #6089e0;
    cursor: pointer;
}

.btn-logout:hover {
    background-color: #68c539;
    cursor: pointer;
}

.t-welcome {
    margin: auto;
    margin-top: 5px;
    margin-bottom: 10px;
    width: 70%;
    padding: 5px 30px 5px 30px;
    background-color: white;
    color: #1e4bff;
    font-size: 15px;
    font-weight: 700;
    border-radius: 5px;
    text-align: center;
}

.footer {
    margin: auto;
    margin-top: 5px;
    width: 70%;
    padding: 5px 30px 10px 30px;
    background-color: white;
    border-radius: 5px;
}

.my-vocabulary {
    margin: auto;
    width: 80%;
}

.t-my-vocabulary {
    font-size: 15px;
    font-weight: 700;
    color: #1e4bff;
    text-align: center;
}

.t-number-word {
    color: #707070;
    text-align: center;
    font-size: xx-large;
    font-weight: 700;
}

.tu {
    color: #1e4bff;
    font-size: large;
}

.line-1 {
    margin: auto;
    width: 180px;
    margin-top: 10px;
}

.line-2 {
    margin: auto;
    width: 150px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.new-vocabulary {
    margin: auto;
    width: 80%;
}

.t-new-vocabulary {
    color: #2f2f2f;
    font-size: 13px;
    font-weight: 700;
    text-align: center;
}

.t-number-new-word {
    color: #42c800;
    text-align: center;
    font-size: xx-large;
    font-weight: 700;
}

.btn-footer {
    padding-bottom: 7px;
}

.btn-word-book {
    background-color: #42c800;
    color: white;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    width: 48%;
    float: left;
    padding: 2px 0px 2px 0px;
}

.btn-review-word {
    background-color: #00b9ff;
    color: white;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    width: 48%;
    float: right;
    padding: 2px 0px 2px 0px;
}

.btn-word-book:hover {
    background-color: #329600;
    cursor: pointer;
}

.btn-review-word:hover {
    background-color: #009bd3;
    cursor: pointer;
}